header {
    display: flex;
    justify-content: space-between;
    padding: 40px 100px 0;
    font-size: 24px;
    align-items: center;
    background-color: #fff;
    @media screen and (max-width: 750px) {
        font-size: 12px;
        padding: 20px 20px 0;
    }

    img {
        width: 210px;
        height: auto;
        @media screen and (max-width: 750px) {
            width: 145px;
            height: auto;
        }
    }

    .nav {
        white-space: nowrap;
        
        &-link {
            text-decoration: none;
            padding-left: 40px;
            color: #FF6060;
            &.active {
                text-decoration: underline;
            }
        }
    }
}
