.collapse__container {
    display: flex;
    width: 45%;
    height: 50px;
    background-color: #FF6060;
    position: relative;
    border-radius: 10px;
    align-items: center;

    .collapse__title {
        font-size: 24px;
        color: #FFF;
        padding-left: 15px;
    }

    .collapse__button {
        background-color: transparent;
        border: none;
        width: 30px;
        bottom: 35%;
        right: 20px;
        position: absolute;

        img {  
            object-fit: cover;
        }
    }


}


.collapse-open {
    background-color: #F6F6F6;
    width: 45%;
    margin: 0;
    padding: 18px 28px 20px 20px;
    display: block;
}

.collapse-close {
    display: none;
}