.collapse__container {
    display: flex;
    flex-direction: column;
    width: 45%;
    background-color: #FF6060;
    position: relative;
    border-radius: 10px;
    align-items: center;

    .collapse__title {
        font-size: 24px;
        color: #FFF;
        padding-left: 15px;
    }

    .collapse__button {
        background-color: transparent;
        border: none;
        width: 30px;
        bottom: 35%;
        right: 20px;
        position: absolute;
        cursor: pointer;

        img {
            object-fit: cover;
        }
    }
}

.collapse__header {
    position: relative; 
    height: 50px;
    cursor: pointer;
    width: 100%;
}


.collapse-open {
    background-color: #F6F6F6;
    margin: 0;
    padding: 18px 28px 20px 20px;
    display: block;
    border-radius: 0 0 9px 9px;
}

.collapse-close {
    display: none;
}
