.collapse__container {
    display: flex;
    flex-direction: column;
    background-color: #FF6060;
    position: relative;
    border-radius: 10px;




    .collapse__header {
        position: relative; 
        height: 50px;
        cursor: pointer;
        width: 100%;
        display: flex;
        align-items: center;

            
        .collapse__title {
            font-size: 24px;
            color: #FFF;
            padding-left: 15px;
        }

        .collapse__button {
            background-color: transparent;
            border: none;
            width: 30px;
            bottom: 35%;
            right: 20px;
            position: absolute;
            cursor: pointer;

            img {
                object-fit: cover;
            }
        }

    }

}




.collapse-open {
    background-color: #F6F6F6;
    margin: 0;
    padding: 18px 28px 20px 20px;
    display: block;
    border-radius: 0 0 9px 9px;
    width: 100%;
    animation: displayblock 10s;
}

.collapse-close {
    display: none;
    animation: displayblock 10s;
}

@keyframes displayblock {
    from {
        display: none;
        transform: scaleY(0);
    }
    to {
        display: block;
        transform: scaleY(1);
    }
}


.collapse__container--fiche {
    display: flex;
    width: 45%;
    @media screen and (max-width: 900px) {
        width: 100%;
        margin-bottom: 20px;
    }
}

.collapse__globaldiv {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @media screen and (max-width: 900px) {
        flex-direction: column;
    }
}

.collapse__equipment {

    padding-inline-start: 0;

    li {
        list-style-type: none;
    }
}